<div class="flex flex-col">
{{!-- cat 2 component --}}
<img class="w-24 h-24 rounded-full mx-auto" src="images/cat2.jpg" alt="cat1">

<button type="button" class="p-10 font-semibold" {{on "click" (fn @onSave "cat2")}}>
  ON SAVE
</button>
</div>