{{page-title "Gjs"}}

<div class="justify-center m-auto">
  <div class="container mx-auto pt-6 text-center flex flex-col">
    <h2 class="text-4xl font-semibold mb-10 underline" id="title">
      Template Tag Format
    </h2>

    <div class="flex flex-col gap-4">
      <p class="w-1/2 mx-auto">The template tag format is a powerful, new way to write components in
        Ember. It's a <span class="font-bold">single-file</span> format that combines the component's JavaScript
        and Glimmer template code.
      </p>

      <p class="w-1/2 mx-auto">
        It will help us to write components in a more organized way and with less imports.
      </p>

      <p class="w-1/2 mx-auto">
        We can import "old" components that has the <span class="font-bold">"template-colocation structure"</span>
        (js class and its hbs template in the same directory), so we can start using it today has it has retro-compatibility
      </p>
    </div>

{{!--    <div class="border-2 rounded my-6">
      <h2 class="text-3xl font-semibold mb-10 underline">
        Demo time
      </h2>

      <Button />

      <exportTemplate />

      <Button @buttonText="My button" />
      <Invocables />

      <ClassBasedComponent />
      <ClassBasedComponent @title="Class based component"/>
    </div> --}}

    {{!-- Show it in AgentPro --}}
  </div>
</div>

{{outlet}}