{{page-title "Gjs"}}

<ul class="flex">
  <li class="px-4">
    <LinkTo class="font-bold underline " @route="template-tag-format">Template Tag Format</LinkTo>
  </li>
  <li>
    <LinkTo class="font-bold underline " @route="dynamic-ember-component">Dynamic Ember Component</LinkTo>
  </li>
</ul>

{{outlet}}