{{page-title "Gjs"}}

<div class="bg-orange-100 flex justify-center">
  <div class="h-screen container pt-6">
    <h2 class="text-4xl font-semibold mb-2 text-center" id="title">
      Welcome to Template Tag Format
    </h2>

    <p>The template tag format is a powerful, new way to write components in
      Ember. It's a single-file format that combines the component's JavaScript
      and Glimmer template code.
    </p>
  </div>
</div>
{{outlet}}